.card {
    background-color:deepskyblue;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
}

.card1 {
    width: 18rem;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-right: 10px;
    margin-left: 10px;
}

.container {
    display: flex;
    margin-right: 40px;
    margin-left: 30px;
    margin-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
}


.formcontrol {

    margin-top: 100px;
}