.container {
color: black;
background-color: orange;
justify-content: space-around;

}

.spaces {
    margin-left: 5px;
    margin-right: 5px;
}


.contact {

    margin-left: 5px;
    margin-right: 5px;
}

.Aboutus {

    margin-left: 5px;
    margin-right: 5px;
}

.home {

    margin-left: 5px;
    margin-right: 5px;
}

.Blogs {

    margin-left: 5px;
    margin-right: 5px;
}

.vblogs {

    margin-left: 5px;
    margin-right: 5px;
}

